$gray-lightest      : #f7f7f7;
$gray-lighter       : #e4e4e4;
$gray-light         : #666;
$gray               : #373a3c;
$gray-dark          : #222;
$white              : #fff;

$red                : #F44336;
$green              : #4CAF50;

$body-bg            : $gray-lightest;
$body-color         : $gray;

$link-color         : $gray;

$font-family-base   : "Helvetica Neue", ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Lucida Grande", sans-serif;
$font-family-mono   : Consolas, 'Liberation Mono', Menlo, Courier, monospace;