body#styleguide {
	background: #eee;
}

body#styleguide:before {
	height: auto;
	width: auto;
}

#styleguide #app {
	width: 80%;
	margin: 0 0 0 2em;
}

#styleguide .sg-stack {
	font-family: ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	color: #222;
}

#styleguide .sg-font-light {
	font-weight: 100;
}

#styelguide .sg-font-dark {
	font-weight: 700;
}

#styleguide .sg-button {
	background: transparent;
	color: white;
	border: none;
	color: #666;
	font-size: 12px;
	padding: 1em;
	margin: none;
}

#styleguide .sg-button__settings {
	position: absolute;
	top: 1.25em;
	right: 1em;
}

#styleguide .sg-button__settings:before {
	content: "\f111";
	font-family: 'Dashicons';
	margin-right: 5px;
	position: relative;
	top: 2px;
}

#styleguide .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: table;
  transition: opacity .3s ease;
}

#styleguide .modal-wrapper {
  display: table-cell;
  vertical-align: top;
	text-align: center;
}

#styleguide .modal-container {

}

#styleguide .modal-enter, #styleguide .modal-leave {
  opacity: 0;
}

#styleguide .modal-enter .modal-container,
#styleguide .modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#styleguide .sg-setting-title {
	text-transform: uppercase;
	margin-bottom: 2em;
}

#styleguide .toggleWrapper .checkbox {
  position: absolute;
  left: -99em;
}

#styleguide .toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83D8FF;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#styleguide .before, .after {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 0;
	width: 160px;
}

#styleguide .before .small, .after .small {
  display: block;
  font-size: 10px;
	font-weight: 700;
}

#styleguide .before {
  margin-right: 10px;
}

#styleguide .after {
  margin-left: 10px;
}

#styleguide .toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: -20px;
  width: 44px;
  height: 44px;
  background-color: #FFCF96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

#styleguide .checkbox:checked + .toggle {
  background-color: #749DD6;
}
#styleguide .checkbox:checked + .toggle:before {
  color: #749ED7;
}
#styleguide .checkbox:checked + .toggle:after {
  color: #ffffff;
}
#styleguide .checkbox:checked + .toggle .toggle__handler {
  background-color: #FFE5B5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

#styleguide .sg-settings-group {
	margin: 2em auto;
}

#styleguide .sg-settings-input-label {
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

#styleguide .sg-settings-endpoint {
	border: none;
	border-bottom: 1px solid #eee;
	border-radius: 0;
}

#styleguide .sg-settings-endpoint:focus {
	border-bottom-color: #333;
}

#styleguide .sg-button-settings-save {
	
}

#styleguide .sg-button-settings-save:before {
	content: '' !important;
}

#styleguide .sg-stack .sg-button:before, #styleguide .sg-section-title__edit .sg-button:before {
	content: "\f132";
	font-family: 'Dashicons';
	margin-right: 5px;
	position: relative;
	top: 2px;
}

#styleguide .sg-nav {
	position: fixed;
	top: 60px;
	right: 1em;
	font-size: 14px;
}

#styleguide .sg-nav a {
	color: #999;
}

#styleguide .sg-nav-links {
	list-style-type: none;
	padding: 0;
}

#styleguide .sg-nav-link {
	padding: 0;
}

#styleguide .sg-nav .sg-nav-sublinks {
	font-size: 12px;
}

.sg-container {
	background: white;
	padding: 2em;
	margin-bottom: 2em;
	position: relative;
}

#styleguide .sg-style-title {
	border: none;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 2em;
	width: 100%;
	display: block;
	padding-bottom: 6px;
	transition: background-color .2s;
}

#styleguide .sg-style-title:focus, #styleguide .sg-style-title:hover {
	background: #fafafa;
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.05) , 1px 0 2px 0 rgba(0,0,0,0.05) , 0 1px 1px 0 rgba(0,0,0,0.12);
}

#styleguide .sg-section-title {
	margin: 48px 0 24px 0;
	padding: 10px 5px;
	display: block;
	width: 100%;
	background: #eee;
	border: none;
	font-weight: 700;
	font-size: 24px;
	text-transform: inherit;
}

#styleguide .sg-section-title__edit  {
	position: relative;
	margin-bottom: 64px;
	display: block;
}

#styleguide .sg-section-title__edit .sg-button {
	position: absolute;
	right: 1em;
	top: 0;
	opacity: 0;
}

#styleguide .sg-section-title__edit:focus .sg-button {
	opacity: 1;
}

.sg-container .sg-edit-block {
	position: relative;
}

#styleguide .sg-container .sg-edit-block .sg-button__edit {
	position: absolute;
	right: 70px;
	top: 0;
	color: green;
}

#styleguide .sg-container .sg-edit-block .sg-button__cancel {
	color: red;
	right: 0;
}

.sg-container .sg-output {
	margin-bottom: 2em;
}

.sg-container .sg-markup {
	background: #272822;
	color: #eee;
	padding: 1em 0;
}

.sg-container .sg-markup pre {
	border: none;
}

.sg-container .sg-edit {
	font-size: 11px;
	position: absolute;
	top: 0.5em;
	right: 1em;
	opacity: 0;
	transition: opacity 0.25s;
}

.sg-container:hover .sg-edit {
	opacity: 1;
}

input[type="text"].sg-title {
	border: none;
	background: none;
	border-bottom: 1px solid #eee;
}