body#styleguide {
	background: #eee;
}

body#styleguide:before {
	height: auto;
	width: auto;
}

#styleguide #app {
	width: 85%;
	margin: 0 auto;
}

.sg-container {
	background: white;
	padding: 2em;
	margin-bottom: 2em;
	position: relative;
}

.sg-container .sg-title {
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 2em;
}

.sg-container .sg-output {
	margin-bottom: 2em;
}

.sg-container .sg-markup {
	background: #222;
	color: #eee;
	padding: 1em;
}

.sg-container .sg-edit {
	font-size: 11px;
	position: absolute;
	top: 0.5em;
	right: 1em;
	opacity: 0;
	transition: opacity 0.25s;
}

.sg-container:hover .sg-edit {
	opacity: 1;
}

input[type="text"].sg-title {
	border: none;
	background: none;
	border-bottom: 1px solid #eee;
}