body#styleguide {
	background: #eee;
}

body#styleguide:before {
	height: auto;
	width: auto;
}

#styleguide #app {
	width: 85%;
	margin: 0 auto;
}

#styleguide .sg-stack {
	font-family: ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	color: #222;
}

#styleguide .sg-font-light {
	font-weight: 100;
}

#styelguide .sg-font-dark {
	font-weight: 700;
}

#styleguide .sg-button {
	background: transparent;
	color: white;
	border: none;
	color: #666;
	font-size: 12px;
	padding: 1em;
	margin: none;
}

#styleguide .sg-stack .sg-button:before, #styleguide .sg-section-title__edit .sg-button:before {
	content: "\f132";
	font-family: 'Dashicons';
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.sg-container {
	background: white;
	padding: 2em;
	margin-bottom: 2em;
	position: relative;
}

#styleguide .sg-style-title {
	border: none;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 2em;
	width: 100%;
	display: block;
	padding-bottom: 6px;
	transition: background-color .2s;
}

#styleguide .sg-style-title:focus, #styleguide .sg-style-title:hover {
	background: #fafafa;
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.05) , 1px 0 2px 0 rgba(0,0,0,0.05) , 0 1px 1px 0 rgba(0,0,0,0.12);
}

#styleguide .sg-section-title {
	margin: 48px 0 24px 0;
	padding: 10px 5px;
	display: block;
	width: 100%;
	background: #eee;
	border: none;
	font-weight: 700;
	font-size: 24px;
	text-transform: inherit;
}

#styleguide .sg-section-title__edit  {
	position: relative;
	margin-bottom: 64px;
	display: block;
}

#styleguide .sg-section-title__edit .sg-button {
	position: absolute;
	right: 1em;
	top: 0;
	opacity: 0;
}

#styleguide .sg-section-title__edit:focus .sg-button {
	opacity: 1;
}

.sg-container .sg-edit-block {
	position: relative;
}

#styleguide .sg-container .sg-edit-block .sg-button__edit {
	position: absolute;
	right: 70px;
	top: 0;
	color: green;
}

#styleguide .sg-container .sg-edit-block .sg-button__cancel {
	color: red;
	right: 0;
}

.sg-container .sg-output {
	margin-bottom: 2em;
}

.sg-container .sg-markup {
	background: #272822;
	color: #eee;
	padding: 1em 0;
}

.sg-container .sg-markup pre {
	border: none;
}

.sg-container .sg-edit {
	font-size: 11px;
	position: absolute;
	top: 0.5em;
	right: 1em;
	opacity: 0;
	transition: opacity 0.25s;
}

.sg-container:hover .sg-edit {
	opacity: 1;
}

input[type="text"].sg-title {
	border: none;
	background: none;
	border-bottom: 1px solid #eee;
}